/* global style start */

body {
    font-family: "Manrope", sans-serif;
}

/* global style end */

/* share related style start */

.button {
    background: rgb(255, 66, 64);
    color: white;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: 600;
    transition: all ease-in-out 0.6s;
}

.button:hover {
    transform: scale(1.05);
}

/* share related style end */